@model List<WebMaze.Models.School.SchoolScheduleViewModel>

<div>
    <p>
        Partial view for MyProfile schedule
        <br>
    </p>
    <table id="js-generated-schedule">
        @foreach (var scheduleView in @Model)
        {
            <p>@scheduleView.SchoolSubject</p>
        }
    </table>
</div>