@model List<WebMaze.Models.School.SchoolAccountViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Partial view (Vertical) for available actions(links to views)</title>
    Foreach->GEN
</head>
<body>
<div>
    
</div>
</body>
</html>