@{
    Layout = "_LayoutSchool";
}

<div class="p-md-5 p-4 mb-4 text-white bg-darker rounded">
    <div class="col-md-10 px-0 w-100 text-dark">
        <h1 class="display-4">Guest profile page, offers to register as a student/teacher.</h1>
    </div>
    
    <div class="loginWrapper">
        <div class="col-md-5 px-0 w-100 text-dark">
            <div class="card">
                <div class="card-header">
                    Register as Staff?
                </div>
                <div class="card-body">
                    (Above Teaching) This will enable you to:
                    <ul>
                        <li>View, Edit all students and staff</li>
                        <li>View, Edit schedules</li>
                        <li>View, Edit subjects</li>
                        <li>Call a bus trip (NOT IMPL)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 px-0 w-100 text-dark">
            <div class="card">
                <div class="card-header">
                    Register as a Student?
                </div>
                <div class="card-body">
                     This will give you access to:
                     <ul>
                         <li>View, Edit only your student profile</li>
                         <li>View, Edit your schedules</li>
                     </ul>
                 </div>
            </div>
        </div>
    </div>
</div>