@{
    Layout = "_LayoutSchool";
}

<div class="p-md-5 p-4 mb-4 text-white bg-darker rounded">
    <div class="col-md-10 px-0 w-100 text-dark">
        <h1 class="display-4">School page.</h1>
        <p class="lead my-3">
            Welcome to our school page. <br>
            In here you can login, register, view your profile and your courses. <br>
            In case you are assigned to teaching staff or higher, you can easily manage student courses, order a doctor from Medicine.
        </p>
    </div>
</div>