@model List<WebMaze.Models.School.SchoolSubjectViewModel>

@{
    Layout = "_LayoutSchool";
}

@section Scripts
{
    <script src="~/js/school.js"></script>
}

<div class="p-md-5 p-2 mb-0 text-white bg-darker rounded">
    <div class="col-md-8 px-0 w-100 text-dark">
        <h1 class="display-4">ModifySubject page. Only for higher ups. Loads all subjects from JS, offers to modify them (NotIMPL)</h1>
    </div>
    
    <table id="js-generated-subjects">
        
    </table>
</div>