@{
    Layout = "_LayoutSchool";
}

<div class="p-md-5 p-4 mb-4 text-white bg-darker rounded">
    <div class="col-md-10 px-0 w-100 text-dark">
        <h1 class="display-4">Registration page.</h1>
    </div>
</div>