@{
    Layout = "_LayoutSchool";
}

<div class="p-md-5 p-4 mb-4 text-white bg-darker rounded">
    <div class="col-md-10 px-0 w-100 text-dark">
        <img src="image/Police/not-found-img.jpg" alt="404. Not Found"/>
    </div>
</div>